<h3>投稿記事一覧</h3>
<body>
  <% @pictures.each do |picture| %>
    <tr>
      <span>
        <td><%= image_tag picture.image.url %></td>
        <td><%= picture.user.name %></td>
        <td><%= link_to '詳細', picture %></td>
      </span>
    </tr>
  <% end %>
</body>

