<div>
  <% @favorite.each do |fav_pic| %>
    <tr>
      <td><%= image_tag fav_pic.picture.image.url %></td>
      <td><%= fav_pic.picture.user.name %></td>
      <td><%= link_to '詳細', picture_path(@picture.user_id) %></td>
  <!--    <td><%#= link_to '編集', edit_picture_path(fav_pic) %></td>-->
  <!--    <td><%#= link_to '削除', fav_pic, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
</div>
