// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lgFsT {
  max-width: 325px;
  //flex-direction: column;
  //justify-content: center;
  background-color: white;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 4em;
  margin: 5em 0;
  font-weight: bold;
  color: black;
  border: solid 1px silver;
  border-radius: 10px;
}



